body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 17px;
}
#chart {
    display: flex;
    justify-content: center;
    align-items: center;
}

#myChart {
    width: 300px !important;
    height: 300px !important;
    max-width: 100%;
    max-height: 100%;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    border: 2px solid black; 
    padding: 10px;
}
#chart {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 10px;
}

  input {
    width: 100%; 

    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
  }
  fieldset {
    width: 100%; /* Adjust width */
    max-width: 1200px; /* Limit maximum width */
    margin: auto; /* Center the form */
    border: 2px solid black; /* Ensure all borders are visible */
  }
      
  